.skills-container h2 {
  font-size: 64px;
  text-align: center;
}

.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 100vh; */
}


.skills-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.skills-list li{
  width: 100px;
  height: 100px;
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
}


