.about-content {
    height: 100%;
    width: 100%;
  }
  
  .about-content-top-text p {
    font-family: bunch;
  }
  
  .about-content-top-text p span {
    color: transparent;
    -webkit-text-stroke: 2px black;
  }
  .about-link {
    position: absolute;
    top: 12vh;
    right: 2%;
    height: 11vh;
    width: 5vw;
    border-radius: 50%;
    background: #1c1c4a;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-25deg);
  }
  .about-link p {
    color: var(--color-1);
    font-family: newsagent;
    letter-spacing: 1px;
  }
  
  .about-info-title {
    font-family: newsagent;
  }
  .about-info-para {
    font-family: "Montserrat", sans-serif;
  }
  
  .hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
  }
  
  .hidden:nth-child(2) {
    transition-delay: 300ms;
  }
  .hidden:nth-child(3) {
    transition-delay: 500ms;
  }
  
  .show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
  
  .poped{
    opacity: 1;
  }