/********    connect    ********/

.connect-container {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: "Inter Tight", "Inter Tight Placeholder", sans-serif;
  font-weight: 500;
}

.main-connect-container {
  height: 82vh;
  width: 80vw;
  background: radial-gradient(
    circle,
    rgba(172, 219, 255, 1) -300%,
    rgba(252, 252, 252, 1) 100%
  );
  border-radius: 36px;
  box-shadow: inset 0 -3px #0000000d, inset 0 0 0 2px #fff,
    inset 0 4px 2px #0000000f, inset 0 0 24px 4px #0000000a, 0 1px 3px #0000001f;
  margin: 14px 0px;
  padding: 0 6vw;
  padding-top: 9vh;
}

.connect-top {
  margin-bottom: 4vh;
}
.connect-mid {
  margin-bottom: 7vh;
}
.connect-top,
.connect-mid {
  font-size: 3.7vw;
  line-height: 8.5vh;
  font-weight: 500;
}
.start-button {
  font-size: 20px;
  background: black;
  color: white;
  border-radius: 80px;
  height: 50px;
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 6vh;
}

.start-button:hover {
  cursor: pointer;
}

.hr.bg-secondary {
  height: 1px;
  background-color: rgb(0 0 0 / 10%) !important;
}

.socials .row {
  display: flex;
  margin-top: 6vh;
}

.connect {
  color: gray;
  font-size: 18px;
  margin-bottom: 4vh;
}

.socials-list {
  color: gray;
  font-size: 18px;
  margin-bottom: 2vh;
}
.emailid {
  font-size: 22px;
  display: inline-block;
}

.emailid:hover {
  text-decoration: underline;
  cursor: pointer;
}

.socials-links {
  display: flex;
}

.linkdin,
.twitter,
.instagram,
.email {
  border-radius: 50%;
  border: 1px solid lightgray;
  padding: 15px;
}
.linkdin:hover,
.twitter:hover,
.instagram:hover,
.email:hover {
  cursor: pointer;
  transition: all 0.2s;
  transform: translateY(-1px);
  background: linear-gradient(
    rgba(247, 247, 247, 0.5) 0%,
    rgba(255, 255, 255, 0.5) 100%
  );
  box-shadow: rgba(255, 255, 255, 0.8) 0px 6px 4px 0px inset,
    rgba(230, 242, 255, 0.4) 0px -4px 2px 0px inset,
    rgba(0, 153, 255, 0.2) 0px -8px 10px 0px inset,
    rgba(163, 214, 255, 0.2) 0px -12px 20px 0px inset,
    rgba(0, 119, 255, 0.2) 0px 12px 24px -2px,
    rgba(0, 127, 245, 0.2) 0px 3px 8px -2px;
}

@media screen and (max-width: 850px) {
  .connect-top,
  .connect-mid {
    font-size: 3.9vw;
    line-height: 5.5vh;
    margin-bottom: 4vh;
  }

  .start-button {
    font-size: 12px;
    height: 40px;
    width: 120px;
  }

  .socials .row {
    gap: 24px;
  }

  .connect {
    margin-bottom: 1vh;
  }
}

@media screen and (max-width: 450px) {
  .connect-top,
  .connect-mid {
    font-size: 6.8vw;
    line-height: 4.5vh;
    margin-bottom: 4vh;
  }

  .start-button {
    font-size: 15px;
    height: 50px;
    width: 150px;
  }

  .main-connect-container {
    height: 90vh;
    width: 95vw;
    padding-top: 14vh;
  }

  .emailid {
    font-size: 19px;
  }
}
